<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TranscodeFlex</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        html,
        body {
            height: 100%;
        }

        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="container mt-5 content">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2 class="text-center mb-4">TranscodeFlex</h2>
                    <form id="uploadForm" action="/process" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" class="form-control-file" id="videoFile" accept="video/*" onchange="checkFile()">
                        <!-- Upload button -->
                        <button type="submit" class="btn btn-primary btn-block" id="uploadButton" disabled>Upload</button>
                    </form>
 
                </div>
            </div>
        </div>
        
        <!-- Footer -->
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">About Us</a></li>
                    <li class="list-inline-item"><a href="#">FAQ</a></li>
                </ul>
                <span class="text-muted">© 2024 TranscodeFlex. All rights reserved.</span>
            </div>
        </footer>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script>
        function checkFile() {
            var fileInput = document.getElementById('videoFile');
            var uploadButton = document.getElementById('uploadButton');
            if (fileInput.files.length > 0) {
                uploadButton.disabled = false;
            } else {
                uploadButton.disabled = true;
            }
        }
    </script>
</body>
</html>
